div{

    background-color:red;
    color: black;
    font-size: xx-large;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.shape1-4{
    background-color: darkturquoise;
    border: 2px;
}
.text1-4{
    color: white;
}

#element-one{
    background-color: black;
}
.paros{
background-color: 2px;

}

button{
    background-color: deepskyblue;
}
